<td class='code required {{indent}}'>{{name}}</td>
<td>
  {{#if showInput}}
    {{#if isBody}}
      {{#if isFile}}
        <input type="file" name='{{name}}'/>
      {{else}}
        {{#if defaultValue}}
          <textarea class='body-textarea' name='{{name}}'>{{defaultValue}}</textarea>
        {{else}}
          <textarea class='body-textarea' name='{{name}}'></textarea>
          <br />
          <div class="parameter-content-type" />
        {{/if}}
      {{/if}}
    {{else}}
      {{#if isFile}}
        <input class='parameter' type='file' name='{{name}}'/>
      {{else}}
        {{#if defaultValue}}
          <input class='parameter' minlength='1' name='{{name}}' type='text' value='{{defaultValue}}'/>
        {{else}}
          <input class='parameter' minlength='1' name='{{name}}' type='text' value=''/>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
</td>
<td>
  <strong>{{{description}}}</strong>
</td>
<td>{{{paramType}}}</td>
<td><span class="model-signature"></span></td>

